<div class="page-header">
  <h1>Partits Dia Futbol</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>'Local'</th>
      <th>'Visitant'</th>
      <th>'Competicio'</th>
      <th>'Minut'</th>
      <th>'Resultat'</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game['local'] %></td>
        <td><%= game['visitor'] %></td>
        <td><%= game['competition_name'] %></td>
        <td><%= game['live_minute'] %></td>
        <td><%= game['result'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

