<div class="page-header">
  <h1><%= link_to "Partits Dia NBA", nba_edit_path(@offset) %></h1>
  <%= form_tag nba_path, :method => :get do %>
    <%= select_date @realDate, prefix: :realDate %> 
    <%= submit_tag "Find" %>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>'Local'</th>
      <th>'Visitant'</th>
      <th>'Resultat'</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game['AwayTeam']['name'] %></td>
        <td><%= game['HomeTeam']['name'] %></td>
        <td><%= game['AwayTeam']['score'] %>  - <%= game['HomeTeam']['score'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

