<h3><%= @game.description %></h3>
<table class="table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Jugador</th>
      <th>Aposta</th>
    </tr>
  </thead>
  <tbody>
    <% @bets.each do |bet| %>
    <tr>
      <td><%= bet.user.username %>
              <% if bet.checkScored(bet.game.closed?) %> 
                <span class="badge">+<%= @game.numpoint %></span>
              <% elsif bet.checkSecondScored(bet.game.closed?)  %>
                <span class="badge">+<%= @game.secondpoint %></span>
              <% end %>
      </td>
      <td>
        <%= bet.score1 %>
        <% if @game.numscore >= 2 %>
        - <%= bet.score2 %>
        <% end %>
        <% if @game.numscore >= 3 %>
        - <%= bet.score3 %>
        <% end %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>