<%= form_for(@scoretypevalue) do |f| %>
  <% if @scoretypevalue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scoretypevalue.errors.count, "error") %> prohibited this scoretypevalue from being saved:</h2>

      <ul>
      <% @scoretypevalue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :scoretype %><br />
    <%= f.text_field :scoretype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
