<h1>Listing scoretypevalues</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Scoretype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scoretypevalues.each do |scoretypevalue| %>
  <tr>
    <td><%= scoretypevalue.value %></td>
    <td><%= scoretypevalue.scoretype %></td>
    <td><%= link_to 'Show', scoretypevalue %></td>
    <td><%= link_to 'Edit', edit_scoretypevalue_path(scoretypevalue) %></td>
    <td><%= link_to 'Destroy', scoretypevalue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scoretypevalue', new_scoretypevalue_path %>
