<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @scoretypevalue.value %>
</p>

<p>
  <b>Scoretype:</b>
  <%= @scoretypevalue.scoretype %>
</p>


<%= link_to 'Edit', edit_scoretypevalue_path(@scoretypevalue) %> |
<%= link_to 'Back', scoretypevalues_path %>
