<%= form_for @game, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :closed, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :closed %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :typescore, :class => 'control-label' %>
    <div class="controls">
      <%= select(:game, :typescore, Settings.typeScore, options={:class => "selectpicker"}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :numpoint, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :numpoint, :class => 'text_field' %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :secondpoint, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :secondpoint, :class => 'text_field' %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :numscore, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :numscore, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :boxing_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:game, :boxing_id, Boxing.all, :id, :description, options={:include_blank => true, :class => "selectpicker"}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :score1, :class => 'control-label' %>
    <div class="controls">
      <%= select(:game, :score1, Settings[@game.typescore], options={:include_blank => true, :class => "selectpicker"}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :score2, :class => 'control-label' %>
    <div class="controls">
      <%= select(:game, :score2, Settings[@game.typescore], options={:include_blank => true, :class => "selectpicker"}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :score3, :class => 'control-label' %>
    <div class="controls">
      <%= select(:game, :score3, Settings[@game.typescore], options={:include_blank => true, :class => "selectpicker"}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :closeTime, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :closeTime, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gameTime, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :gameTime, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                games_path, :class => 'btn' %>
  </div>
<% end %>
